@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
    @font-face{
        font-family: $font-family;
        src: url('#{$file-path}.woff2');
        font-weight: $weight;
        font-style: $style;
    
    }
}

@include font-face("Inter", "../fonts/Inter-Regular", 400);
@include font-face("Inter", "../fonts/Inter-Bold", 700);
@include font-face("Inter", "../fonts/Roboto-Regular", 400);
@include font-face("Inter", "../fonts/Roboto-Bold", 700);

