.wrapper {
  max-width: 98rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.text-nowrap{
  white-space: nowrap;
}
@mixin flexible () {
  display: flex;
  justify-content: center;
  align-items: center;
}

