#root {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: $t-black;
}

.user-info-avatar {
  width: 23.8rem;
  height: 23.8rem;
  @include flexible();
}
.user-info-wrap {
  display: flex;
}

.user-info-list {
  padding-left: 3rem;
}

.user-top-info {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 0.8rem 0;
  }
}

.name {
  font-size: 4rem;
  font-weight: bold;
}

.city,
.language {
  font-size: 1.1rem;
}
.info-item {
  position: relative;
}

.btn-wrap {
  display: none;
  position: absolute;
  right: 2rem;
  top: 25%;
}

.user-top-info__item {
  background: transparent;
  border: none;
  outline: none;

  &:focus {
    background: white;
    border: 0.1rem solid gray;
  }
}
