@import "normalize";
@import "fonts";
@import "colors";
@import "items";
@import "mainpage";
@import "media";



html {
  font-size: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing:border-box;
}

*::before, ::after {
  box-sizing:border-box;
}


img{
  vertical-align: top;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

body{
  background: #EFF0F4;
}




@import "media";